<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Manage Purchase Orders</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="card">
        <h2>Manage Purchase Orders</h2>
        <ul>
            <li><a href="po_create.html" target="_blank">Create PO</a></li>
            <li><a href="po_track.html" target="_blank">Track PO Dispatch</a></li>
            <li><a href="po_receipt.html" target="_blank">PO Receipt Confirmation</a></li>
        </ul>
    </div>
</body>

</html>